@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-color: white;





}





h1,
h4,
h2,
p,
a {
  color: blue;
  text-decoration: none;
  font-size: large;
  text-align: center;
}

ul,
ol {
  list-style-type: none;

}

li .nav-item {
  margin-left: auto;

  align-items: center;
  text-align: center;
}

.list {
  min-height: 100px;
}

.icons,
a {
  font-size: 2em;

}

.navbar-link {
  opacity: 1;
  letter-spacing: 20px;
  opacity: 0.75;
  font-weight: 400;
  font-size: 20px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  position: sticky;
  font-family: 'Outfit', sans-serif;
}